In [4]:
import pandas as pd
import numpy as np

In [5]:
pip install numpy

Requirement already satisfied: numpy in c:\users\wasif\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (1.26.1)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: C:\Users\wasif\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [6]:
data = pd.read_csv(r"C:\Users\wasif\Downloads\ml-latest-small\ml-latest-small\ratings.csv")
print(data.shape)
data = data.drop(columns=['timestamp'])
data.head(5)

(100836, 4)

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0

In [7]:
movie_titles = pd.read_csv(r"C:\Users\wasif\Downloads\ml-latest-small\ml-latest-small\movies.csv")
movie_titles = movie_titles.drop(columns=['genres'])
movie_titles.head()

   movieId                               title
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

In [8]:
movie_titles.shape

(9742, 2)

In [9]:
data = pd.merge(data, movie_titles, on = 'movieId')
data.head(500)

     userId  movieId  rating                        title
0         1        1     4.0             Toy Story (1995)
1         5        1     4.0             Toy Story (1995)
2         7        1     4.5             Toy Story (1995)
3        15        1     2.5             Toy Story (1995)
4        17        1     4.5             Toy Story (1995)
..      ...      ...     ...                          ...
495     369       47     3.5  Seven (a.k.a. Se7en) (1995)
496     370       47     3.5  Seven (a.k.a. Se7en) (1995)
497     372       47     5.0  Seven (a.k.a. Se7en) (1995)
498     373       47     5.0  Seven (a.k.a. Se7en) (1995)
499     379       47     3.0  Seven (a.k.a. Se7en) (1995)

[500 rows x 4 columns]

In [11]:
moviemat = data.pivot_table(index ='userId', columns = 'title', values = 'rating')

In [28]:
moviemat.head(-100)

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]Â² (2009),[REC]Â³ 3 GÃ©nesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),Â¡Three Amigos! (1986),Ã€ nous la libertÃ© (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
506,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
507,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
508,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
509,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
510,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [75]:
def pearson_correlation(user1, user2): 
    # Extract the rows corresponding to the two users
    user1 = moviemat.loc[user1]
    user2 = moviemat.loc[user2]
    
    # Find the common movies that both users have rated (non-missing values)
    common_items = np.logical_and(~np.isnan(user1), ~np.isnan(user2))
    
    # If there are no common movies, return NaN to indicate no correlation
    if not common_items.any():
        return np.nan
    
    # Calculate the Pearson correlation for the common items
    user1_common = user1[common_items]
    user2_common = user2[common_items]

    # Calculate the means of the common ratings
    mean_user1 = np.nanmean(user1_common)
    mean_user2 = np.nanmean(user2_common)

    # Calculate the numerator and denominators for the Pearson correlation formula
    numerator = np.sum((user1_common - mean_user1) * (user2_common - mean_user2))
    denominator_user1 = np.sqrt(np.sum((user1_common - mean_user1) ** 2))
    denominator_user2 = np.sqrt(np.sum((user2_common - mean_user2) ** 2))
    if(denominator_user1*denominator_user2==0):
        return np.nan

    # Calculate the Pearson correlation coefficient
    correlation = numerator / (denominator_user1 * denominator_user2)
    
    return correlation

In [145]:
import math

max_correlation = 0
count=0
for i in range(2, 1000):
    if i in moviemat.index:
        correlation = pearson_correlation(1, i)
        if not math.isnan(correlation):
            max_correlation = max(max_correlation, correlation)


print(f"Maximum Pearson Correlation between User 1 and other users: {max_correlation}")

Maximum Pearson Correlation between User 1 and other users: 1.0000000000000002

In [79]:
correlation = pearson_correlation(1, 40)
print(correlation)
#user1 er sathe shobar similarity ber kore arekta column e add kore rakha lagbe
#sort kore choto kore top similar 10 er ekta matrix banay ota prediction function e pass kora lagbe

-0.35400521619692155

In [104]:
def top_similar_users(user, all_users, moviemat, num_users=10):
    # Calculate Pearson correlation between the given user and all other users
    correlations = []
    for other_user in all_users:
        if user != other_user:
            correlation = pearson_correlation(user, other_user)
            if not np.isnan(correlation):
                correlations.append((other_user, correlation))

    # Sort the correlations in descending order
    correlations.sort(key=lambda x: x[1], reverse=True)

    # Select the top num_users similar users
    top_similar_users = correlations[:num_users]

    return top_similar_users

# Example usage:
# Replace 'user' with the user you want to find similar users for and 'all_users' with the list of all users in your dataset.
user = 1 # Replace with the actual user name or ID
all_users = moviemat.index  # Get the list of user IDs from the index of moviemat
top_10_similar_users = top_similar_users(user, all_users, moviemat, num_users=10)

print("Top 10 most similar users to", user, "are:")
for similar_user, correlation in top_10_similar_users:
    print(similar_user, "with correlation", correlation)

Top 10 most similar users to 1 are:
146 with correlation 1.0000000000000002
550 with correlation 1.0000000000000002
106 with correlation 1.0
333 with correlation 1.0
598 with correlation 0.9999999999999998
473 with correlation 0.9622504486493763
511 with correlation 0.9258200997725514
9 with correlation 0.9185586535436917
13 with correlation 0.8783100656536798
366 with correlation 0.8728715609439696

In [110]:

# Extract the user IDs from the top 10 similar users list
similar_user_ids = [user_id for user_id, _ in top_10_similar_users]

# Include user=1 in the list of similar users
similar_user_ids.append(user)

# Create a new DataFrame with only the selected users
new_matrix = moviemat.loc[similar_user_ids]

In [111]:
new_matrix

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]Â² (2009),[REC]Â³ 3 GÃ©nesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),Â¡Three Amigos! (1986),Ã€ nous la libertÃ© (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
146,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
550,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
598,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
473,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
511,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
366,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN

In [117]:
#Function for predicting rating of a movie
def predict_rating(item, similarity_scores,moviemat):
    # Find the users who have rated the item and have non-NaN values
    item=moviemat.columns[item]
    rated_users = ~np.isnan(moviemat[item])
    user = 1  # Specify the user for whom you want to make predictions    
    # Get the similarity scores for "User1" with other users
    user1_similarity = similarity_scores    
    # Initialize the weighted sum and sum of similarity scores
    weighted_sum = 0
    total_similarity = 0    
    # Iterate through users who have rated the item
    for other_user in moviemat.index:
        if other_user != user and rated_users[other_user]:
            # Calculate the weighted contribution to the prediction            
            similarity = user1_similarity[other_user]
            other_user_rating = moviemat.at[other_user, item]
            weighted_sum += similarity * (other_user_rating - np.nanmean(moviemat.loc[other_user]))
            total_similarity += np.abs(similarity)    
    if total_similarity == 0:
        # Handle the case where there are no similar users
        return np.nan    
    # Calculate the predicted rating by adding the user's mean rating
    # and the weighted sum of ratings from similar users
    user1 = moviemat.loc[user]
    user_mean = np.nanmean(user1)
    predicted_rating = user_mean + (weighted_sum / total_similarity)
    predicted_rating = min(5, max(0, predicted_rating))
    return predicted_rating

In [144]:
# Find the movies that User 1 hasn't rated
user = 1
user1_ratings = moviemat.loc[user]
unrated_movies = user1_ratings.isna()

# Initialize a list to store predicted ratings and their corresponding movie indices
predicted_ratings = []

# Iterate through unrated movies and make predictions
for item in range(len(new_matrix.columns)):
    if unrated_movies[item]:
        predicted_rating = predict_rating(item, similarity,new_matrix)
        predicted_ratings.append((item, predicted_rating))

# Sort the predicted ratings in descending order
predicted_ratings.sort(key=lambda x: x[1], reverse=True)

# Get the top 10 rated movies that User 1 hasn't rated yet
top_10_unrated_movies = predicted_ratings[:10]

# Extract the movie titles based on their indices
top_10_movie_titles = [new_matrix.columns[item] for item, _ in top_10_unrated_movies]

# Print the top 10 rated movies that User 1 hasn't rated yet
print("Top 10 rated movies that User 1 hasn't rated yet:")
for movie_title in top_10_movie_titles:
    print(movie_title)

C:\Users\wasif\AppData\Local\Temp\ipykernel_8072\3792244039.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if unrated_movies[item]:

Top 10 rated movies that User 1 hasn't rated yet:
'71 (2014)
'Hellboy': The Seeds of Creation (2004)
'Round Midnight (1986)
'Salem's Lot (2004)
'Til There Was You (1997)
'Tis the Season for Love (2015)
'burbs, The (1989)
'night Mother (1986)
(500) Days of Summer (2009)
*batteries not included (1987)

In [126]:
# Function to calculate Jaccard similarity between two user rows
def jaccard_similarity(user1, user2):
    user1 = moviemat.loc[user1]
    user2 = moviemat.loc[user2]
    # Convert user rows to sets of non-null movie titles
    set1 = set(user1.dropna().index)
    set2 = set(user2.dropna().index)
    # Calculate Jaccard similarity
    intersection = len(set1.intersection(set2))
    union = len(set1.union(set2))
    if union == 0:
        return 0  # Avoid division by zero if both sets are empty
    else:
        return intersection / union

In [128]:
max_jaccard=0
count=0
import math
for i in range(2, 1000):
    if i in moviemat.index:
        correlation = jaccard_similarity(1, i)
        if(correlation>=1):
            count+=1
        if not math.isnan(correlation):
            max_jaccard = max(max_jaccard, correlation)
print(max_jaccard)

0.23010752688172043

In [127]:
# Calculate Jaccard similarity between two users

jaccard_similarity_score = jaccard_similarity(1, 2)
print(jaccard_similarity_score)

0.007722007722007722

In [140]:
#coefficient=4.34
#adding a coefficient for adjusting pair with highest jaccard similarity to make 1
def pearson_correlation_with_jaccard_similarity(user1,user2):
    return pearson_correlation(user1,user2)*4.34*jaccard_similarity(user1,user2)


pearson_correlation_with_jaccard_similarity(1,9)

0.07301363656372933

In [141]:
max_new_method=0
count=0
import math
for i in range(2, 1000):
    if i in moviemat.index:
        correlation = pearson_correlation_with_jaccard_similarity(1, i)
        if(correlation>=1):
            count+=1
        if not math.isnan(correlation):
            max_new_method = max(max_new_method, correlation)
print(max_new_method)

0.3072839743438264