In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv(r"C:\Users\wasif\Downloads\ml-latest-small\ml-latest-small\ratings.csv")
print(data.shape)
data = data.drop(columns=['timestamp'])
data.head(5)

(100836, 4)

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0

In [3]:
movie_titles = pd.read_csv(r"C:\Users\wasif\Downloads\ml-latest-small\ml-latest-small\movies.csv")
movie_titles = movie_titles.drop(columns=['genres'])
movie_titles.head()

   movieId                               title
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

In [4]:
data = pd.merge(data, movie_titles, on = 'movieId')
data.head(500)

     userId  movieId  rating                        title
0         1        1     4.0             Toy Story (1995)
1         5        1     4.0             Toy Story (1995)
2         7        1     4.5             Toy Story (1995)
3        15        1     2.5             Toy Story (1995)
4        17        1     4.5             Toy Story (1995)
..      ...      ...     ...                          ...
495     369       47     3.5  Seven (a.k.a. Se7en) (1995)
496     370       47     3.5  Seven (a.k.a. Se7en) (1995)
497     372       47     5.0  Seven (a.k.a. Se7en) (1995)
498     373       47     5.0  Seven (a.k.a. Se7en) (1995)
499     379       47     3.0  Seven (a.k.a. Se7en) (1995)

[500 rows x 4 columns]

In [5]:
moviemat = data.pivot_table(index ='userId', columns = 'title', values = 'rating')

In [72]:
print(type(top_10_least_misery_dict))

<class 'dict'>

In [7]:


# Get the movies rated by user 1
user1_movies = moviemat.loc[1].dropna().index

# Initialize a dictionary to store the count of common movies for each user
common_movies_count = {}

# Loop through all users
for user_id, ratings in moviemat.iterrows():
    if user_id != 1:
        # Get the movies rated by the current user
        user_movies = ratings.dropna().index
        
        # Count the number of common movies with user 1
        common_count = sum(movie in user_movies for movie in user1_movies)
        
        # Store the count in the dictionary
        common_movies_count[user_id] = common_count

# Find the user with the highest number of common movies
most_common_user = max(common_movies_count, key=common_movies_count.get)
num_common_movies = common_movies_count[most_common_user]

print(f"User {most_common_user} has the highest number of common movies ({num_common_movies}) rated with User 1.")
print(f"Total number of common movies: {num_common_movies}")

User 414 has the highest number of common movies (200) rated with User 1.
Total number of common movies: 200

In [10]:
# Get the movies rated by user 1 and user 414
user1_movies = set(moviemat.loc[1].dropna().index)
user414_movies = set(moviemat.loc[414].dropna().index)

# Find the common movies between user 1 and user 414
common_movies_user1_414 = user1_movies.intersection(user414_movies)

# Initialize a dictionary to store the count of common movies for each user
common_movies_count = {}

# Loop through all users
for user_id, ratings in moviemat.iterrows():
    if user_id != 1 and user_id != 414:
        # Get the movies rated by the current user
        user_movies = set(ratings.dropna().index)
        
        # Count the number of common movies with user 1 and user 414
        common_count = len(common_movies_user1_414.intersection(user_movies))
        
        # Store the count in the dictionary
        common_movies_count[user_id] = common_count

# Find the user with the highest number of common movies
third_common_user = max(common_movies_count, key=common_movies_count.get)
num_common_movies_third_user = common_movies_count[third_common_user]



print(f"\nUser {third_common_user} has the highest number of common movies ({num_common_movies_third_user}) with the common movies between Users 1 and 414.")

User 599 has the highest number of common movies (167) with the common movies between Users 1 and 414.

In [26]:
import pandas as pd

# Assuming moviemat is your pivot table
# moviemat = data.pivot_table(index='userId', columns='title', values='rating')

# Get the movies rated by user 1, user 414, and user 599
user1_movies = set(moviemat.loc[1].dropna().index)
user414_movies = set(moviemat.loc[414].dropna().index)
user599_movies = set(moviemat.loc[599].dropna().index)

# Find the common movies between all three users
common_movies_all_users = user1_movies.intersection(user414_movies, user599_movies)

# Extract the ratings for common movies and store in a table (DataFrame)
common_movies_table = moviemat.loc[[1, 414, 599], list(common_movies_all_users)].fillna(np.nan)

print("Table of common movies and their ratings for all three users:")
common_movies_table

Table of common movies and their ratings for all three users:

title,Dazed and Confused (1993),Bottle Rocket (1996),Indiana Jones and the Last Crusade (1989),Bambi (1942),Con Air (1997),Ghostbusters (a.k.a. Ghost Busters) (1984),Charlotte's Web (1973),Crocodile Dundee (1986),"Iron Giant, The (1999)",Rocky (1976),...,"Rocky Horror Picture Show, The (1975)","Big Lebowski, The (1998)","Jungle Book, The (1967)",Tombstone (1993),Being John Malkovich (1999),Indiana Jones and the Temple of Doom (1984),Big Trouble in Little China (1986),"Matrix, The (1999)","Goonies, The (1985)",RoboCop (1987)
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,5.0,5.0,5.0,4.0,5.0,5.0,5.0,5.0,5.0,...,3.0,5.0,5.0,5.0,4.0,5.0,4.0,5.0,5.0,4.0
414,4.0,4.0,4.0,4.0,3.0,5.0,4.0,4.0,4.0,4.0,...,4.0,5.0,4.0,4.0,5.0,4.0,5.0,5.0,5.0,4.0
599,3.5,2.5,4.0,3.0,3.0,4.5,2.0,3.5,3.0,4.0,...,3.0,5.0,3.0,2.5,4.0,3.5,4.0,5.0,1.5,4.0

In [49]:
common_movies_table

title,Dazed and Confused (1993),Bottle Rocket (1996),Indiana Jones and the Last Crusade (1989),Bambi (1942),Con Air (1997),Ghostbusters (a.k.a. Ghost Busters) (1984),Charlotte's Web (1973),Crocodile Dundee (1986),"Iron Giant, The (1999)",Rocky (1976),...,"Rocky Horror Picture Show, The (1975)","Big Lebowski, The (1998)","Jungle Book, The (1967)",Tombstone (1993),Being John Malkovich (1999),Indiana Jones and the Temple of Doom (1984),Big Trouble in Little China (1986),"Matrix, The (1999)","Goonies, The (1985)",RoboCop (1987)
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,5.0,5.0,5.0,4.0,5.0,5.0,5.0,5.0,5.0,...,3.0,5.0,5.0,5.0,4.0,5.0,4.0,5.0,5.0,4.0
414,4.0,4.0,4.0,4.0,3.0,5.0,4.0,4.0,4.0,4.0,...,4.0,5.0,4.0,4.0,5.0,4.0,5.0,5.0,5.0,4.0
599,3.5,2.5,4.0,3.0,3.0,4.5,2.0,3.5,3.0,4.0,...,3.0,5.0,3.0,2.5,4.0,3.5,4.0,5.0,1.5,4.0

In [15]:
print(type(common_movies_table))

<class 'pandas.core.frame.DataFrame'>

In [102]:
# Create a new DataFrame for Borda count scores
borda_count_table = pd.DataFrame(index=common_movies_table.index, columns=common_movies_table.columns)

# Total number of movies
total_movies = len(borda_count_table.columns)

# Iterate through columns
for movie in borda_count_table.columns:
    # Get the indices of non-NaN values sorted in descending order
    sorted_indices = np.argsort(common_movies_table[movie].dropna().values)[::-1]
    
    # Calculate Borda count scores
    borda_count_scores = np.arange(total_movies, 0, -1)
    
    # Create a dictionary for mapping indices to Borda count scores
    score_dict = dict(zip(common_movies_table.index[sorted_indices], borda_count_scores))
    
    # Assign Borda count scores to the new DataFrame using .loc
    borda_count_table.loc[:, movie] = borda_count_table.index.to_series().map(score_dict)

borda_count_table = borda_count_table.astype(float)  # Ensure the dtype is float
borda_count_table

title,Dazed and Confused (1993),Bottle Rocket (1996),Indiana Jones and the Last Crusade (1989),Bambi (1942),Con Air (1997),Ghostbusters (a.k.a. Ghost Busters) (1984),Charlotte's Web (1973),Crocodile Dundee (1986),"Iron Giant, The (1999)",Rocky (1976),...,"Rocky Horror Picture Show, The (1975)","Big Lebowski, The (1998)","Jungle Book, The (1967)",Tombstone (1993),Being John Malkovich (1999),Indiana Jones and the Temple of Doom (1984),Big Trouble in Little China (1986),"Matrix, The (1999)","Goonies, The (1985)",RoboCop (1987)
userId,,,,,,,,,,,,,,,,,,,,,
1,166.0,167.0,167.0,167.0,167.0,166.0,167.0,167.0,167.0,167.0,...,165.0,165.0,167.0,167.0,165.0,167.0,165.0,165.0,166.0,165.0
414,167.0,166.0,165.0,166.0,165.0,167.0,166.0,166.0,166.0,165.0,...,167.0,166.0,166.0,166.0,167.0,166.0,167.0,166.0,167.0,166.0
599,165.0,165.0,166.0,165.0,166.0,165.0,165.0,165.0,165.0,166.0,...,166.0,167.0,165.0,165.0,166.0,165.0,166.0,167.0,165.0,167.0

In [ ]:
alpha=0

In [53]:
# Calculate the mean rating for each movie
mean_ratings = borda_count_table.mean(axis=0)

# Create a dictionary to store the average value and the title of the movie
average_ratings_dict = {'Title': mean_ratings.index, 'Average Rating': mean_ratings.values}

# Sort the movies by mean rating in descending order
sorted_mean_ratings = mean_ratings.sort_values(ascending=False)

# Create a dictionary to store the top 10 highest-rated movies
top_10_movies_dict = {'Title': sorted_mean_ratings.head(10).index, 'Average Rating': sorted_mean_ratings.head(10).values}

In [73]:
top_10_movies_dict

{'Title': Index(['Dazed and Confused (1993)', 'Abyss, The (1989)', 'Blown Away (1994)',
        'Fight Club (1999)',
        'Star Wars: Episode V - The Empire Strikes Back (1980)',
        'Game, The (1997)', 'Clockwork Orange, A (1971)',
        'Men in Black (a.k.a. MIB) (1997)', 'Rushmore (1998)',
        'Toy Story (1995)'],
       dtype='object', name='title'),
 'Average Rating': array([166., 166., 166., 166., 166., 166., 166., 166., 166., 166.])}

In [76]:
# Find the rating of 'Dazed and Confused (1993)'
movie_title = 'Dazed and Confused (1993)'
index_of_movie = average_ratings_dict['Title'].tolist().index(movie_title)
dazed_and_confused_rating = average_ratings_dict['Average Rating'][index_of_movie]

print(f"The rating of '{movie_title}' is: {dazed_and_confused_rating}")

The rating of 'Dazed and Confused (1993)' is: 166.0

In [81]:
# Assuming borda_count_table is your DataFrame

# Calculate the minimum rating given by each user for each movie
min_ratings_by_user = borda_count_table.min(axis=0)

# Sort the movies by the minimum rating in descending order (highest ratings among the lowest)
sorted_min_ratings_least = min_ratings_by_user.sort_values(ascending=False)

# Create a dictionary to store all movies
all_least_misery_dict = {'Title': sorted_min_ratings_least.index.tolist(),
                         'Least Misery Rating': sorted_min_ratings_least.values.tolist()}


all_least_misery_dict

{'Title': ['Dazed and Confused (1993)',
  'Abyss, The (1989)',
  'Blown Away (1994)',
  'Fight Club (1999)',
  'Star Wars: Episode V - The Empire Strikes Back (1980)',
  'Game, The (1997)',
  'Clockwork Orange, A (1971)',
  'Men in Black (a.k.a. MIB) (1997)',
  'Rushmore (1998)',
  'Toy Story (1995)',
  'Ghost and the Darkness, The (1996)',
  'What About Bob? (1991)',
  'Office Space (1999)',
  'Heat (1995)',
  'Romancing the Stone (1984)',
  'E.T. the Extra-Terrestrial (1982)',
  '13th Warrior, The (1999)',
  'Highlander (1986)',
  'Gladiator (2000)',
  'Face/Off (1997)',
  'Starship Troopers (1997)',
  'Enemy of the State (1998)',
  'South Park: Bigger, Longer and Uncut (1999)',
  'Dogma (1999)',
  'Thin Red Line, The (1998)',
  'Citizen Kane (1941)',
  'Star Wars: Episode I - The Phantom Menace (1999)',
  'Batman Returns (1992)',
  'Honey, I Shrunk the Kids (1989)',
  'Three Musketeers, The (1993)',
  'Dick Tracy (1990)',
  'American Beauty (1999)',
  'Silence of the Lambs, The (1991)',
  'Predator (1987)',
  'Wild Things (1998)',
  'Few Good Men, A (1992)',
  'Full Metal Jacket (1987)',
  'Conan the Barbarian (1982)',
  'Lord of the Rings, The (1978)',
  'Monty Python and the Holy Grail (1975)',
  'Mad Max (1979)',
  'Sleeping Beauty (1959)',
  'Lock, Stock & Two Smoking Barrels (1998)',
  'Ed Wood (1994)',
  'Last of the Mohicans, The (1992)',
  'Platoon (1986)',
  'Big (1988)',
  'Blues Brothers, The (1980)',
  'Sister Act (1992)',
  'Hook (1991)',
  'Braveheart (1995)',
  'Grumpy Old Men (1993)',
  'Rocky Horror Picture Show, The (1975)',
  'Big Lebowski, The (1998)',
  'Jungle Book, The (1967)',
  'Tombstone (1993)',
  'Being John Malkovich (1999)',
  'Indiana Jones and the Temple of Doom (1984)',
  'Big Trouble in Little China (1986)',
  'Matrix, The (1999)',
  'Goonies, The (1985)',
  'Tommy Boy (1995)',
  'Sneakers (1992)',
  'Small Soldiers (1998)',
  'Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)',
  'Wedding Singer, The (1998)',
  'Clerks (1994)',
  'Goldfinger (1964)',
  'From Russia with Love (1963)',
  'Negotiator, The (1998)',
  'Road Warrior, The (Mad Max 2) (1981)',
  'Willow (1988)',
  'Howard the Duck (1986)',
  'Fargo (1996)',
  'Desperado (1995)',
  'Green Mile, The (1999)',
  'Spaceballs (1987)',
  'Forrest Gump (1994)',
  'Alice in Wonderland (1951)',
  'Mrs. Doubtfire (1993)',
  'Go (1999)',
  'Superman (1978)',
  "McHale's Navy (1997)",
  'Dumb & Dumber (Dumb and Dumber) (1994)',
  'Bottle Rocket (1996)',
  'Run Lola Run (Lola rennt) (1998)',
  'Beetlejuice (1988)',
  'Terminator, The (1984)',
  'Space Jam (1996)',
  'Very Bad Things (1998)',
  'Wizard of Oz, The (1939)',
  'Independence Day (a.k.a. ID4) (1996)',
  'Good Morning, Vietnam (1987)',
  'Mummy, The (1999)',
  'L.A. Confidential (1997)',
  'Blazing Saddles (1974)',
  'Apocalypse Now (1979)',
  'Easy Rider (1969)',
  'That Thing You Do! (1996)',
  'Labyrinth (1986)',
  'Tron (1982)',
  'Clear and Present Danger (1994)',
  'Excalibur (1981)',
  'Usual Suspects, The (1995)',
  'Encino Man (1992)',
  'Saving Private Ryan (1998)',
  'Fugitive, The (1993)',
  'Indiana Jones and the Last Crusade (1989)',
  'Bambi (1942)',
  'Con Air (1997)',
  'Ghostbusters (a.k.a. Ghost Busters) (1984)',
  "Charlotte's Web (1973)",
  'Crocodile Dundee (1986)',
  'Iron Giant, The (1999)',
  'Rocky (1976)',
  'Fantasia (1940)',
  'Star Wars: Episode VI - Return of the Jedi (1983)',
  'Total Recall (1990)',
  'Edward Scissorhands (1990)',
  'Pinocchio (1940)',
  'Toys (1992)',
  'Billy Madison (1995)',
  'Jurassic Park (1993)',
  'Superman II (1980)',
  'Willy Wonka & the Chocolate Factory (1971)',
  'Groundhog Day (1993)',
  "Wayne's World (1992)",
  'Alien (1979)',
  'Who Framed Roger Rabbit? (1988)',
  'Pink Floyd: The Wall (1982)',
  'X-Men (2000)',
  'Twister (1996)',
  'Austin Powers: International Man of Mystery (1997)',
  'Pulp Fiction (1994)',
  'JFK (1991)',
  'Back to the Future (1985)',
  'Back to the Future Part III (1990)',
  'American History X (1998)',
  'Seven (a.k.a. Se7en) (1995)',
  'Road Trip (2000)',
  'Messenger: The Story of Joan of Arc, The (1999)',
  'Canadian Bacon (1995)',
  'Henry V (1989)',
  'Mission: Impossible (1996)',
  'NeverEnding Story, The (1984)',
  "Monty Python's Life of Brian (1979)",
  'Planet of the Apes (1968)',
  'Mask, The (1994)',
  'Lethal Weapon (1987)',
  'Star Wars: Episode IV - A New Hope (1977)',
  'Reservoir Dogs (1992)',
  'Rock, The (1996)',
  'Â¡Three Amigos! (1986)',
  'I Know What You Did Last Summer (1997)',
  'So I Married an Axe Murderer (1993)',
  'Stargate (1994)',
  'Grumpier Old Men (1995)',
  'Ladyhawke (1985)',
  'Live and Let Die (1973)',
  'Rocketeer, The (1991)',
  'Princess Bride, The (1987)',
  'Young Frankenstein (1974)',
  'Swingers (1996)',
  'Dr. No (1962)',
  'Batman (1989)',
  'Goodfellas (1990)',
  'RoboCop (1987)'],
 'Least Misery Rating': [165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0,
  165.0]}

In [79]:
sorted_min_ratings_least

title
Dazed and Confused (1993)                                165.0
Abyss, The (1989)                                        165.0
Blown Away (1994)                                        165.0
Fight Club (1999)                                        165.0
Star Wars: Episode V - The Empire Strikes Back (1980)    165.0
                                                         ...
Swingers (1996)                                          165.0
Dr. No (1962)                                            165.0
Batman (1989)                                            165.0
Goodfellas (1990)                                        165.0
RoboCop (1987)                                           165.0
Length: 167, dtype: float64

In [152]:
# Create DataFrames for easier alignment
df_average = pd.DataFrame(average_ratings_dict).set_index('Title')
df_least_misery = pd.DataFrame(all_least_misery_dict).set_index('Title')

# Combined function parameters
alpha = 0  # Initial alpha value
num_iterations = 10  # Number of iterations

# Create an empty list to store the suggested movies
suggested_movies = []

for iteration in range(num_iterations):
    # Align data based on movie titles, excluding suggested movies
    aligned_data = df_average.join(df_least_misery, how='inner').drop(suggested_movies, errors='ignore')

    # Calculate the combined value to maximize for all movies
    combined_values = (1 - alpha) * aligned_data['Average Rating'] + alpha * aligned_data['Least Misery Rating']

    # Find the next movie with the maximum combined value
    next_suggestion = combined_values.idxmax()
    
    # Store the suggested movie in the list
    suggested_movies.append(next_suggestion)

    print(f"Iteration {iteration + 1}: Suggested movie '{next_suggestion}' with combined value {combined_values[next_suggestion]}")


    #Here to add new code

    # Number of top items to consider (k)
    k = len(suggested_movies)

    # Calculate group satisfaction for each user
    group_satisfaction = common_movies_table[suggested_movies].sum(axis=1)

    # Calculate user satisfaction for top k items (top k suggested movies)
    user_satisfaction = [common_movies_table.loc[idx, suggested_movies].sum() for idx in common_movies_table.index]

    # Calculate overall satisfaction
    satisfaction_scores = group_satisfaction / user_satisfaction

    max_satisfaction_value = satisfaction_scores.max()
    min_satisfaction_value = satisfaction_scores.min()
    satisfaction_difference = max_satisfaction_value - min_satisfaction_value

    #previous code
    # Update alpha for the next iteration (you can adjust this logic based on your preference)
    alpha = satisfaction_difference 

# Final list of suggested movies
print("Final list of suggested movies:")
print(suggested_movies)

Iteration 1: Suggested movie 'Dazed and Confused (1993)' with combined value 165.0
Iteration 2: Suggested movie 'Bottle Rocket (1996)' with combined value 166.0
Iteration 3: Suggested movie 'Indiana Jones and the Last Crusade (1989)' with combined value 166.0
Iteration 4: Suggested movie 'Bambi (1942)' with combined value 166.0
Iteration 5: Suggested movie 'Con Air (1997)' with combined value 166.0
Iteration 6: Suggested movie 'Ghostbusters (a.k.a. Ghost Busters) (1984)' with combined value 166.0
Iteration 7: Suggested movie 'Charlotte's Web (1973)' with combined value 166.0
Iteration 8: Suggested movie 'Crocodile Dundee (1986)' with combined value 166.0
Iteration 9: Suggested movie 'Iron Giant, The (1999)' with combined value 166.0
Iteration 10: Suggested movie 'Rocky (1976)' with combined value 166.0
Final list of suggested movies:
['Dazed and Confused (1993)', 'Bottle Rocket (1996)', 'Indiana Jones and the Last Crusade (1989)', 'Bambi (1942)', 'Con Air (1997)', 'Ghostbusters (a.k.a. Ghost Busters) (1984)', "Charlotte's Web (1973)", 'Crocodile Dundee (1986)', 'Iron Giant, The (1999)', 'Rocky (1976)']

In [ ]:
# Create DataFrames for easier alignment
df_average = pd.DataFrame(average_ratings_dict).set_index('Title')
df_least_misery = pd.DataFrame(all_least_misery_dict).set_index('Title')

# Combined function parameters
alpha = 0.5 # Initial alpha value
num_iterations = 10  # Number of iterations

# Create an empty list to store the suggested movies
suggested_movies = []

for iteration in range(num_iterations):
    # Align data based on movie titles, excluding suggested movies
    aligned_data = df_average.join(df_least_misery, how='inner').drop(suggested_movies, errors='ignore')

    # Calculate the combined value to maximize for all movies
    combined_values = (1 - alpha) * aligned_data['Average Rating'] + alpha * aligned_data['Least Misery Rating']

    # Find the next movie with the maximum combined value
    next_suggestion = combined_values.idxmax()
    
    # Store the suggested movie in the list
    suggested_movies.append(next_suggestion)

    print(f"Iteration {iteration + 1}: Suggested movie '{next_suggestion}' with combined value {combined_values[next_suggestion]}")


    #Here to add new code

    # Number of top items to consider (k)
    k = len(suggested_movies)

    # Calculate group satisfaction for each user
    group_satisfaction = common_movies_table[suggested_movies].sum(axis=1)

    # Calculate user satisfaction for top k items (top k suggested movies)
    user_satisfaction = [common_movies_table.loc[idx, suggested_movies].sum() for idx in common_movies_table.index]

    # Calculate overall satisfaction
    satisfaction_scores = group_satisfaction / user_satisfaction

    max_satisfaction_value = satisfaction_scores.max()
    min_satisfaction_value = satisfaction_scores.min()
    satisfaction_difference = max_satisfaction_value - min_satisfaction_value

    #previous code
    # Update alpha for the next iteration (you can adjust this logic based on your preference)
    alpha = satisfaction_difference 

# Final list of suggested movies
print("Final list of suggested movies:")
print(suggested_movies)

In [ ]:
# Create DataFrames for easier alignment
df_average = pd.DataFrame(average_ratings_dict).set_index('Title')
df_least_misery = pd.DataFrame(all_least_misery_dict).set_index('Title')

# Combined function parameters
alpha = 1  # Initial alpha value
num_iterations = 10  # Number of iterations

# Create an empty list to store the suggested movies
suggested_movies = []

for iteration in range(num_iterations):
    # Align data based on movie titles, excluding suggested movies
    aligned_data = df_average.join(df_least_misery, how='inner').drop(suggested_movies, errors='ignore')

    # Calculate the combined value to maximize for all movies
    combined_values = (1 - alpha) * aligned_data['Average Rating'] + alpha * aligned_data['Least Misery Rating']

    # Find the next movie with the maximum combined value
    next_suggestion = combined_values.idxmax()
    
    # Store the suggested movie in the list
    suggested_movies.append(next_suggestion)

    print(f"Iteration {iteration + 1}: Suggested movie '{next_suggestion}' with combined value {combined_values[next_suggestion]}")


    #Here to add new code

    # Number of top items to consider (k)
    k = len(suggested_movies)

    # Calculate group satisfaction for each user
    group_satisfaction = common_movies_table[suggested_movies].sum(axis=1)

    # Calculate user satisfaction for top k items (top k suggested movies)
    user_satisfaction = [common_movies_table.loc[idx, suggested_movies].sum() for idx in common_movies_table.index]

    # Calculate overall satisfaction
    satisfaction_scores = group_satisfaction / user_satisfaction

    max_satisfaction_value = satisfaction_scores.max()
    min_satisfaction_value = satisfaction_scores.min()
    satisfaction_difference = max_satisfaction_value - min_satisfaction_value

    #previous code
    # Update alpha for the next iteration (you can adjust this logic based on your preference)
    alpha = satisfaction_difference 

# Final list of suggested movies
print("Final list of suggested movies:")
print(suggested_movies)